@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*,*::after,*::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body{
	font-family: 'Poppins', sans-serif;
}
/*#######Utility class########*/
.container{
	max-width: 900px;
	width: 90%;
	margin: auto;
}
.bt1{
	color: #fff;
	background: #16a083;
}
.button{
     display: inline-block;
     padding: 0.7em 1.3em;
     text-decoration: none;
     border-radius: 5rem;
     cursor: pointer;
     outline: none;
     font-weight: 500;
     text-transform: uppercase;
     letter-spacing: 0.03em;
}
/*#################Navbar styling#############*/
.navbar{
	box-shadow: 0px 5px 10px 0px #aaa;
	position: fixed;
	width: 100%;
	opacity: 0.85;
	z-index: 99;
	color: #000;
	background: #fff;
}
.navbar .modify{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5.4rem;
}
.navbar .menu-items{
	display: flex;
	order: 2;
}
.navbar .menu-items li{
	list-style: none;
	text-decoration: none;
	display: flex;
	display: inline-block;
	margin: 0 1.2rem;
	font-size: 1.8rem;
}
.navbar .logo{
	order: 1;
	font-size: 2.5rem;
}
.navbar .menu-items li a{
	text-decoration: none;
	font-weight: 500;
	color: #444;
	transition: color 0.3s ease-in-out;
}
.navbar .menu-items li a:hover{
	color: #117964;
}
/*#################homepage styling#############*/
.showcase{
	background:linear-gradient(rgba(240,240,240,0.144),rgba(255,255,255,0.336)),url("./img/breakfast.jpg");
	height: 60vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.showcase .showcase-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-size: 1.6rem;
    color: black;
}
.showcase .showcase-content p{
	margin: 0.3rem auto;
	letter-spacing: 0.03em;
}


/*##########About us styling##########*/
.about-us{
	padding: 2rem 0;
	background: #f5f5f7;

}
.about-us .flex{
	display: flex;
	flex-wrap: wrap;/*it just move the image to nextline as because of width*/
	/*border: 2px solid blue;*/
	
}
.about-us .flex h3{
     font-size: 1.5rem;
     color: #666;

     font-weight: 600;
     margin-bottom: 0.4rem;
}
.about-us .flex h2{
     font-size: 2.2rem;
     font-weight: 700;
     margin-bottom: 0.4rem;
}
.about-us .flex p{
     font-size: 1.4rem;
     color:#555;
     line-height: 1.7rem;
     letter-spacing: 0.03em;
}
.about-us .text{
	flex: 1 1 40rem;
	padding: 2rem;
	margin: auto;
	animation: imganime 4s ease-in-out forwards;
	transform: translateX(-150%);

}
.about-us .image{
     /*border: 2px solid red;*/
     padding: 2rem;
     flex: 1 1 40rem;
     transform: translateX(150%);
     animation: imganime 4s ease-in-out forwards ;
}
@keyframes imganime{
 100%{
 	transform: translate(0);
 }
}
.about-us .image img{
      display: block;
     height: 27rem;
     max-width: 100%;
     object-fit: cover;
     object-position: center;
}
/*###########food category style###########*/
.food-type{
	padding: 5rem 0;
}
.food-type h2{
	font-weight: 400;
	text-align: center;
	font-size: 3rem;
	text-transform: uppercase;
	color: #555;
	margin-bottom: 2rem;
}
.food-type .fog{
	display: flex;
	justify-content: space-between;
	
}
.food-type .same{
	max-height: 30rem;
	max-width: 27rem;
	position: relative;
}

.food-type img{
	width: 100%;
	display: block;
	height: 100%;
	border: 2px solid blue;
	object-fit: cover;
	margin: auto;
	object-position: center;
}
.food-type .img-content{
	position: absolute;
	color: #fff;
	top:20%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	opacity: 0;
	z-index: 2;
	transition: all 0.5s ease-in-out;
}
.same::after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.871);
	z-index: 1;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: 100% 100%;
	transition: all 0.4s ease-in-out;
}
.same:hover .img-content{
	opacity: 1;
	top: 50%;
}
.same:hover::after{
	opacity: 1;
	transform: scaleY(1);
}

/*##########food menu##########*/
.food-menu .zebra{
	display: flex;
	flex-wrap: wrap;
	padding: 3rem 0;
}
.food-menu .zebra .yti{
	display: flex;
	flex: 1 1 40rem;
	justify-content: space-between;

}
.food-menu .zebra .descr{
	margin: auto 1rem;
}
.food-menu .zebra .descr .price{
	color: #117964;
	font-weight: 700;
 font-size: 1.4rem;
}
.food-menu .zebra .descr p{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.7rem 0;
    color: #555;
}
.food-menu .zebra .descr h2{
	font-size: 2.2rem;
	font-weight: 400;
	color: #444;
}
.food-menu .zebra img{
	display: block;
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}
.food-menu .heading{
	text-align: center;
	font-weight: 400;
	color: #666;
	font-size: 3rem;

}
/*###########testimonial###########*/
.testimon{
	padding: 3rem 0;
	background: rgb(243,243,243);
	
}
.testimon h2{
	text-align: center;
	font-size: 3rem;
	color: #555;
	font-weight: 400;
}
.testimon .patron{
	display: flex;
	justify-content: space-between;

}
.testimon .patron .box{
	text-align: center;
	padding: 1rem;
}
.testimon .patron img{
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	margin: auto;
}
.testimon .patron .rating{
	color: #ff9529;
}
.detalia p{
	margin: 0.7rem 0;
	color: #444;
	letter-spacing: 0.05em;
	font-weight: 500;
}
/*############contact page styling###########*/
.contact-us{
    padding: 3rem 0;
	background: rgb(226,226,226);
	
}
.contact-us .box{
	display: flex;
	background: #fff;
}
.contact-us .box img{
	width: 50%;
	height: 30rem;
	object-fit: cover;
	object-position: center;
}
.contact-us .box .form{
	width: 50%;
	padding: 1rem;
	
}
.contact-us .box .form h2{
	font-size: 3rem;
	font-weight: 400;
	color: #444;
	margin-bottom: 1.3rem;
	
}
.contact-us .box .form input,textarea{
	display: block;
	margin-bottom: 1rem;
	padding: 1rem 0;
	font-size: 1.5rem;
	font-weight: 500;
	color: #444;
	width: 100%;
	box-shadow: none;
	outline: none;
}
.contact-us .box .form textarea{
	width: 100%;
	height: 8rem;
}
.contact-us .box .form{
	font-size: 1.3rem;
}
/*######footer section#######*/
footer{
	text-align: center;
	padding: 2rem;
	color: #fff;
	font-weight: 500;
	font-size: 1rem;
	background: rgb(65,65,65);
	letter-spacing: 0.08em;
}
/*##############responsive section###############*/
@media (max-width: 768px){
	.food-type .fog{
		flex-direction: column;
		flex-wrap: wrap;
		
	}
	.food-type .same{
		margin: 1rem auto;

	}
	.food-type .same{
		box-shadow: 5px 5px 10px 0px #aaa;
	}
}
@media (max-width: 500px){
	html{
		font-size: 50%;
	}
	.testimon .patron{
		flex-direction: column;
		text-align: center;
	}
	.food-menu .yti{
		flex-direction: column;
		text-align: center;
	}
	.food-type .fog{
		flex-direction: column;
		flex-wrap: wrap;
		
	}

}